@model MvcPractice.Models.ContactForm

@{
    ViewBag.Title = "Edit Contact Form";
}

<h2>Edit Contact Form</h2>
<form action="@Url.Action("Index", "Contact")" method="post">
    @*add a hidden field to hold the contactformID's*@
    <span>
        @Html.HiddenFor(x=> x.ContactFormID)
    </span>


    <div>
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)

    </div>

    <div>
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div>
        @Html.LabelFor(x => x.Message)
        @Html.TextAreaFor(x => x.Message)
        @Html.ValidationMessageFor(x => x.Message)
    </div>

    <input type="submit" value="Get it buddy" />
</form>

@*Add a reference to jQuery Validation this is the javasript that actually performs our validation using*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}