<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <h1>My awesome site about Owen</h1>
    </header>
    <nav>
        <a href="@Url.Action("Index", "Home")">
            Home
        </a>
        &nbsp; | &nbsp;
        <a href="@Url.Action("About", "Home")">
            about
        </a>
                &nbsp; | &nbsp;
        <a href="@Url.Action("Index", "HighScores")">
            Game High Scores
        </a>
                &nbsp; | &nbsp;
        <a href="@Url.Action("Index", "Contact")">
            Contact

        </a>
                &nbsp; | &nbsp;
        <a href="@Url.Action("Index", "Admin")">
            Admin

        </a>

    </nav>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)


</body>
</html>
