@{
    ViewBag.Title = "High Scores for my sweet games";
}

<h2>High Scores</h2>
<ul>
    <li>
        <a href="@Url.Action("GuessThatNumber", "HighScores")">
            Guess That Number
        </a>

    </li>
        <li>
        <a href="@Url.Action("Battleship", "HighScores")">
            Battleship
        </a>
    </li>
            <li>
        <a href="@Url.Action("DemonSlayerSimulator1", "HighScores")">
            DemonSlayerSimulator1
        </a>
    </li>
        </li>
            <li>
        <a href="@Url.Action("DemonSlayerSimulator2", "HighScores")">
            DemonSlayerSimulator2
        </a>
    </li>
        </li>
        </li>
            <li>
        <a href="@Url.Action("Hangman", "HighScores")">
            Hangman
        </a>
    </li>
        </li>
        </li>
        </li>
            <li>
        <a href="@Url.Action("TriviaGame", "HighScores")">
            TriviaGame
        </a>
    </li>
</ul>
